<h1>This is a new article</h1>

<%= form_for :article, url: articles_path do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:
      </h3>
      <ul>
        <% @article.errors.full_messages.each do |err| %>
            <li><%= err %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form_group">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="form_group">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>

  <%= f.submit "Submit" %>
  <%= link_to "Cancel", articles_path %>

<% end %>
